---
import Mahid2 from "../images/DSC_0009.jpg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        margin-bottom: 12px;
        color: rgb(179, 184, 194);
        font-weight: lighter;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="lg:mx-64 mt-32">
      <h1 class="text-4xl mb-4 text-center text-red-500">Who am I?</h1>
      <p class="text-xl text-red-400">Hi There,</p>
      <p>
        This Is Mahidujjaman Mahid, a full stack web developer with a passion
        for crafting beautiful and functional websites and applications.
        <br /><br />

        With a strong background in HTML, CSS, and front-end frameworks like
        Tailwind and Bootstrap, I specialize in creating responsive and
        user-friendly interfaces that engage users and enhance their experience.
        Whether it's a complex web app or a simple landing page, I always strive
        to deliver high-quality work that meets my clients' needs and exceeds
        their expectations.
        <br /><br />

        With a strong foundation in JavaScript, I enjoy working with modern
        frameworks like React and Astro to build dynamic and interactive web
        applications. Additionally, I have experience in back-end technologies
        such as Express and Node.js which enable me to develop custom APIs and
        integrate with databases like MongoDB.

        <br /><br />
        I am committed to collaborating with clients to deliver high-quality work
        that meets their unique needs and exceeds their expectations.

        <br /><br />
        Outside of work, I enjoy attending tech events, exploring new tools and trends,
        and contributing to open source projects. I strongly believe in the power
        of continuous learning and staying up-to-date with the latest developments
        in web development. Let's work together to bring your vision to life!
      </p>
    </div>
  </body>
</html>
