---
import Typing from "./typing.astro";
import Mahid from "../images/DSC_0014.jpg";
---

<div class="lg:flex">
  <div class="lg:mt-16 mx-12 mt-12 lg:mx-32 lg:w-1/2">
    <h1 class="text-3xl text-red-500 font-bold mb-4">Hey There</h1>
    <h1 class="text-4xl lg:text-5xl font-bold text-gray-300 mb-">
      I'm a Full Stack Web Developer
    </h1>
    <p class="text-gray-300 font-light mt-8 mb-6">
      Versatile Full Stack Web Developer with expertise in developing and
      maintaining end-to-end web applications. Proficient in both frontend and
      backend technologies.
    </p>
    <Typing />
  </div>
  <div class="w-1/2 hidden lg:block lg:mx-24 lg:mt-16">
    <img class="rounded-full" src={Mahid} alt="" />
  </div>
</div>
